  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/assets/background.png);
    background-size: cover;
}
.profile-box { 
    background-color: #ff574a;
    border-radius: 20px;
    padding: 40px 90px 40px 90px;
    color: #fff;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    padding: 6px;
}

.menu-icon, .setting-icon {
    width: 25px;
}
  /*.menu-icon{
    margin-left: -50px;
  }
  
  .setting-icon{
    margin-right: -50px;
}*/
.menu{
display: flex;
justify-content: space-between;
margin-left: -50px;
margin-right: -50px;
}

.social-media img {
    width: 20px;  
    cursor: pointer;
}
